.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-container{
    background: url(../../assets/images/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    padding-top: 60px;
}
.header{
    box-sizing: border-box;
    padding:  0 20px;
    max-width: 1320px;
    margin: 0 auto;
}
.header-logo{
    width: 184px;
    height: 60px;
    margin-left: 20px;
}
.header-title{
    width: 184px;
    line-height: 35px;
    margin-bottom: 10px;
}
.header-text{
    width: 179px;
    line-height: 15px;

}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    margin-left: auto;
}
.nav-item{
    display: flex;
    float: left;
    width: 110px;
    text-align: center;
    justify-content: center;
}
.nav-list{
    display: flex;
    justify-content: space-around;
}
.start-screen{
    padding-left: 20px;
}
.item-img{
    padding-top: 60px;
    padding-right: 20px;
}
.btn{
    width: 207px;
    height: 52px;
    border-radius: 30px;
}
.start-container{
    background: url(../../assets/images/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    background-position: center;
}
.about{
    display: flex;
}
.about-img{
    margin-left: 215px;
    margin-bottom: 100px;
    margin-top: 80px;

}
.about-text{
    width: 430px;
    top: 1000px;
    height: 380px;
    margin-left: 635px;
    position: absolute;
}